In [2]:
import sqlite3
import datetime
import schedule

import time

conn = sqlite3.connect("stock_price")


c=conn.cursor()

#c.execute("CREATE TABLE Stock_4 (Date_Time,Gold,Dollar,Euro)")

def stock():
    
    
    
    

    from bs4 import BeautifulSoup as soup

    from urllib.request import urlopen as link

    my_link = link('https://finance.yahoo.com/quote/GC%3DF?p=GC%3DF')
    
    my_link1 = link('https://in.finance.yahoo.com/quote/INR%3DX?p=INR%3DX')
    
    my_link2 = link('https://in.finance.yahoo.com/quote/EURINR%3DX?p=EURINR%3DX')

    my_page = soup(my_link,'html.parser')
    
    my_page1 = soup(my_link1,'html.parser')
    
    my_page2 = soup(my_link2,'html.parser')

    Gold = my_page.find('span',{"class","Trsdu(0.3s) Fw(b) Fz(36px) Mb(-4px) D(ib)"}).text
    
    Dollar = my_page1.find('span',{'class',"Trsdu(0.3s) Fw(b) Fz(36px) Mb(-4px) D(ib)"}).text
    
    Euro = my_page2.find('span',{'class','Trsdu(0.3s) Fw(b) Fz(36px) Mb(-4px) D(ib)'}).text
    
    time_stamp = datetime.datetime.now()
    Date_Time = time_stamp
    
    c.execute("INSERT INTO Stock_4 VALUES(?,?,?,?)",(Date_Time,Gold,Dollar,Euro))
        
    conn.commit()

    print('success')
    return
    
schedule.every(10).seconds.do(stock)
while True:
        schedule.run_pending()
        time.sleep(1)
        
c.execute("SELECT * FROM Stock_4")

out = c.fetchall()

for i in out:
    print(i)

('2021-02-12 23:02:01.338504', '1,824.90', '72.5800', '88.0377')
('2021-02-12 23:02:18.706943', '1,824.70', '72.5800', '88.0377')
('2021-02-12 23:02:49.267648', '1,824.80', '72.5800', '88.0377')
('2021-02-12 23:03:07.953830', '1,825.00', '72.5800', '88.0286')
('2021-02-12 23:03:33.420036', '1,824.80', '72.5800', '88.0286')
('2021-02-12 23:03:56.975537', '1,824.70', '72.5800', '88.0286')
('2021-02-12 23:04:46.054099', '1,824.80', '72.5800', '88.0286')
('2021-02-12 23:05:08.728912', '1,824.60', '72.5800', '88.0286')
('2021-02-12 23:05:31.085159', '1,824.60', '72.5800', '88.0286')
('2021-02-12 23:05:50.282535', '1,824.70', '72.5800', '88.0286')
('2021-02-12 23:06:17.214313', '1,824.30', '72.5800', '88.0286')
('2021-02-12 23:06:49.615529', '1,825.10', '72.5800', '88.0286')
('2021-02-12 23:07:09.571801', '1,825.20', '72.5800', '88.0286')
('2021-02-12 23:07:35.946633', '1,824.60', '72.5800', '88.0286')
('2021-02-12 23:07:51.156453', '1,824.70', '72.5800', '88.0286')